h1 {
    text-align: center;
    color: #000000;
    
  }

  h1 {
    margin-top: 2%
  }

  p {
    line-height: 1.6;
    color: #666;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
  }
  
  .image-container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  